<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Ache seu match</h1>
    <p class="lead">Entre ai e veja seus matches... Tudo que você precisa fazer é criar uma conta!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Registrar</button>
      <button class="btn btn-info btn-lg">Saiba mais</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
